{% extends "cmsplugin_photologue_pro/cmsplugin_photologue_pro_base.html" %}
{% load cmsplugin_photologue_pro_tags i18n %}

{% block gallery %}
<div class="photologue_pro_back"><a href="{% url cmsplugin_photologue_pro.views.overview %}">&lt; {% trans "Back to overview" %}</a></div>
<div class="photologue_pro_album_index">
	{% for photo in photos %}
	<div class="photologue_pro_photo">
		<a href="{% url cmsplugin_photologue_pro.views.photo gallery.id photo.id %}">{% polaroid_thumbnail photo %}</a>
		<h4 class="photologue_pro_photo_title">{{ photo.title }}</h4>
	</div>	
	{% endfor %}
</div>
<p class="photologue_pro_album_description">{{ gallery.description }}</p>
{% endblock %}
