.center {
	text-align: center;
}

.photologue_pro_album, .photologue_pro_photo {
	float: left;
}

.photologue_pro_album {
	margin: 0 40px 10px 0;
}

.photologue_pro_photo {
	margin: 0 5px 10px 0;
}

.photologue_pro_album_thumbnails {
	display: block;
	height: 150px;
	width: 150px;
	padding: 10px;
}

.photologue_pro_album .photologue_pro_polaroid {
	position: absolute;
}

.photologue_pro_polaroid {
	width: 130px;
	height: 130px;
	padding: 10px;
	background-color: #fff;
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	transition: -webkit-transform .15s linear;
}

.photologue_pro_polaroid.photo1 {
	z-index: 3;
}

.photologue_pro_polaroid.photo2 {
	z-index: 2;
}

.photologue_pro_polaroid.photo3 {
	z-index: 1;
}

.photologue_pro_album_thumbnails.order1 .photologue_pro_polaroid.photo1,
.photologue_pro_album_thumbnails.order2 .photologue_pro_polaroid.photo2,
.photologue_pro_album_thumbnails.order3 .photologue_pro_polaroid.photo3 {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

.photologue_pro_album_thumbnails.order1 .photologue_pro_polaroid.photo3,
.photologue_pro_album_thumbnails.order2 .photologue_pro_polaroid.photo3,
.photologue_pro_album_thumbnails.order3 .photologue_pro_polaroid.photo1 {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

.photologue_pro_album_thumbnails.order:hover .photologue_pro_polaroid,
.photologue_pro_album_thumbnails.order:focus .photologue_pro_polaroid {
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.photologue_pro_album_thumbnails:hover .photologue_pro_polaroid.photo1,
.photologue_pro_album_thumbnails:focus .photologue_pro_polaroid.photo1 {
	z-index: 6;
}

.photologue_pro_album_thumbnails:hover .photologue_pro_polaroid.photo2,
.photologue_pro_album_thumbnails:focus .photologue_pro_polaroid.photo2 {
	z-index: 5;
}

.photologue_pro_album_thumbnails:hover .photologue_pro_polaroid.photo3,
.photologue_pro_album_thumbnails:focus .photologue_pro_polaroid.photo3 {
	z-index: 4;
}

.photologue_pro_album_thumbnails.order1:hover .photologue_pro_polaroid.photo1,
.photologue_pro_album_thumbnails.order1:focus .photologue_pro_polaroid.photo1,
.photologue_pro_album_thumbnails.order2:hover .photologue_pro_polaroid.photo2,
.photologue_pro_album_thumbnails.order2:focus .photologue_pro_polaroid.photo2,
.photologue_pro_album_thumbnails.order3:hover .photologue_pro_polaroid.photo3,
.photologue_pro_album_thumbnails.order3:focus .photologue_pro_polaroid.photo3 {
	-webkit-transform: scale(1.15) rotate(-8deg) translate(-3em, 0em);
	-moz-transform: scale(1.15) rotate(-8deg) translate(-3em, 0em);
	-o-transform: scale(1.15) rotate(-8deg) translate(-3em, 0em);
	transform: scale(1.15) rotate(-8deg) translate(-3em, 0em);
}

.photologue_pro_album_thumbnails.order1:hover .photologue_pro_polaroid.photo2,
.photologue_pro_album_thumbnails.order1:focus .photologue_pro_polaroid.photo2,
.photologue_pro_album_thumbnails.order2:hover .photologue_pro_polaroid.photo1,
.photologue_pro_album_thumbnails.order2:focus .photologue_pro_polaroid.photo1,
.photologue_pro_album_thumbnails.order3:hover .photologue_pro_polaroid.photo2,
.photologue_pro_album_thumbnails.order3:focus .photologue_pro_polaroid.photo2 {
	-webkit-transform: scale(1.15) rotate(0deg);
	-moz-transform: scale(1.15) rotate(0deg);
	-o-transform: scale(1.15) rotate(0deg);
	transform: scale(1.15) rotate(0deg);
}

.photologue_pro_album_thumbnails.order1:hover .photologue_pro_polaroid.photo3,
.photologue_pro_album_thumbnails.order1:focus .photologue_pro_polaroid.photo3,
.photologue_pro_album_thumbnails.order2:hover .photologue_pro_polaroid.photo3,
.photologue_pro_album_thumbnails.order2:focus .photologue_pro_polaroid.photo3,
.photologue_pro_album_thumbnails.order3:hover .photologue_pro_polaroid.photo1,
.photologue_pro_album_thumbnails.order3:focus .photologue_pro_polaroid.photo1 {
	-webkit-transform: scale(1.15) rotate(8deg) translate(3em, 0em);
	-moz-transform: scale(1.15) rotate(8deg) translate(3em, 0em);
	-o-transform: scale(1.15) rotate(8deg) translate(3em, 0em);
	transform: scale(1.15) rotate(8deg) translate(3em, 0em);
}

.photologue_pro_navigation {
	margin: 0 0 15px;
}

.photologue_pro_navigation a {
	margin-right: 10px;
}

.photologue_pro_album_title, .photologue_pro_photo_title {
	margin: 0;
}

.photologue_pro_album_index a {
	margin: 8px;
}

.photologue_pro_album_index a:hover .photologue_pro_polaroid,
.photologue_pro_album_index a:focus .photologue_pro_polaroid {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	z-index: 2;
}

.photologue_pro_album_description {
	margin: 0;
	padding: 15px 0 0;
	clear: both;
}

.photologue_pro_photo_left {
	float: left;
}

.photologue_pro_photo_details img {
	margin: 0 auto 15px auto;
}

.photologue_pro_photo_details img, .photologue_pro_photo_caption {
	display: block;
}

.photologue_pro_photo_sidebar {
	width: 280px;
	float: right;
}

.photologue_pro_photo_sidebar h3, .photologue_pro_photo_sidebar p {
	margin: 0;
}

.photologue_pro_photo_sidebar div {
	margin: 0 0 20px;
}

.photologue_pro_photo_sidebar table {
	border-spacing: 0;
}

.photologue_pro_photo_sidebar table th {
	padding-right: 10px;
	text-align: left;
}

.photologue_pro_photo_sidebar table th, .photologue_pro_photo_sidebar table td {
	vertical-align: top;
}

.photologue_pro_pagination {
	padding-top: 15px;
	clear: both;
}
